.founder-container {
  margin: 30px auto;
  max-width: 1290px !important;
  width: 100% !important;
}

.founder-container .founder-text {
  color: #0a0a0b;
  margin-top: 40px;
  text-align: justify;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.founder-image {
  position: relative;
  cursor: pointer;
}

.founder-image p {
  display: inline-block;
  position: absolute;
  z-index: -1;
  text-align: center;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -15px);
  transition: all 0.5s ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 185, 34, 0) 0%,
      rgba(255, 185, 34, 1) 25%,
      rgba(255, 185, 34, 1) 75%,
      rgba(255, 185, 34, 0) 100%
    )
    1;
  border-right: 0;
  border-left: 0;
  text-align: center;
  transition: all 0.3s ease;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}

.founder-image:hover > img {
  border: 1px solid #fff;
  transition: all 0.5s ease-in-out;
}

.founder-image:hover > p {
  bottom: 15px;
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .founder-image p{
    bottom: -15px;
    font-size: 18px;
    z-index: 1;
  }
}
