.accordion-container {
  padding: 80px 0;
}

.accordion-item {
  border-bottom: 1px solid #000 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
}

.accordion-button:not(.collapsed) {
  background: none !important;
  color: #ffcb7c !important;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none !important;
}

.accordion-button::after{
    content: url(../../assets/images/down.svg) !important;
    width: 40px !important;
}

.accordion-button:not(.collapsed)::after{
    content: url(../../assets/images/up.svg) !important;
    width: 50px;
}

.accordion-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-button {
  color: #0a0a0b;
  font-family: "Space Grotesk" !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  padding: 20px 0 !important;
  border-radius: none !important;
}

.accordion-collapse {
  transition: all 0.3s ease!important;
}

@media screen and (max-width: 426px) {
  .accordion-button {
    font-size: 20px !important;
  }

  .accordion-container {
    padding: 30px 0;
  }
}

@media screen and (max-width: 325px) {
  .accordion-button {
    font-size: 16px !important;
  }
}
