.constructor-container{
    width: 95%;
    margin: 40px auto;
}

.img-constructor img {
    /* width: 90%; */
}

.constructor .col-lg-7{
    padding-right: 50px;
}

hr {
    background: #9F9EEB;
    height: 2px;
    margin: 40px 0 !important;
}

.title-constructor {
    font-family: Space Grotesk;
    font-size: 36px;
    font-weight: 500;
}

.describtion-constructor {
    text-align: justify;
    font-family: Space Grotesk;
    font-size: 18px;
    font-weight: 500;
    padding: 40px 0;
}

/* .constructor{
    margin: 30px !important;
} */

.constructor .col-7 {
    padding-right: 100px;
}

.logo-constructor {
    width: 100px;
    height: 78px;
}

@media screen and (max-width: 425px) {
    .logo-constructor {
        width: 90px;
        height: 68px;
        margin-left: 20px;
    }
    .describtion-constructor{
        font-size: 14px;
    }
    .title-constructor{
        font-size: 30px;
    }
}