.header-section {
    position: relative;
    width: 100%;
    z-index: 1000000;
    background-color: #fff;
}

header {
    width: 100%;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-logo {
    width: 281px;
    height: 84px;
}

.header-logo img {
    /* width: 281px; */
    height: 84px;
}

.dark-light-wrap {
    display: flex;
    width: 120px;
    height: 45px;
    border-radius: 30px;
    border: 1px solid #B7B7B7;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.mobile-dark-light {
    display: none;
}

.light-icon,
.dark-icon {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    cursor: pointer;
}

.mode-active {
    background-color: #B7B7B7;
}

.light-icon.mode-active {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.dark-icon.mode-active {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.mode-active svg {
    color: #0D0D0D!important;
}

.close-icon {
    display: none;
}

.desktop-close-icon {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.desktop-close-icon img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.close-icon {
    /* position: absolute;
    top: 20px;
    right: 20px; */
    width: 40px;
    height: 40px;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.close-icon img {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.light-icon svg,
.dark-icon svg {
    width: 25px;
    height: 25px;
    color: #E2E2E2;
}

.menu-icon {
    width: 45px;
    height: 45px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-left: 0px;
    cursor: pointer;
}

.active-menu-icon {
    background-color: #0D0D0D;
    color: #fff;
}

.menu-icon svg {
    width: 20px;
    height: 20px;
}

.open-menu-link,
.open-menu-link ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

/* .open-menu-link ul {
    list-style: none;
    background-color: #0D0D0D;
    border: 1px solid #fff;
    height: 45px;
    padding-left: 0!important;
} */

/* .open-menu-ul {
    background-color: #B7B7B7!important;
} */

/* .open-menu-link ul {
    background: #000;
    position: relative;
    animation: mymove 0.3s ease;
} */
      
/* @keyframes mymove {
    0% {top: -8px; opacity: 0.2;}
    25% {top: 0px; opacity: 0.5;}
    50% {top: 8px; opacity: 0.8;}
    100% {top: 0px; opacity: 1;}
} */

/* .open-menu-link ul li a,
.about-div {
    padding: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 1px solid #fff;
    transition: all 0.2s ease-in-out;
} */

/* .open-menu-ul li a {
    color: #212529!important;
} */

/* .open-menu-link ul li {
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.open-menu-link ul li a:hover,
.about-div:hover {
    background-color: #444;
}

.open-menu-ul li a {
    border-left: 1px solid #212529!important;
} */

.about-li-wrap {
    position: relative;
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-start!important;
}

/* .about-dropdown {
    height: auto!important;
    display: flex;
    position: absolute;
    top: 43px;
    border: 1px solid #fff;
    border-top: 0px;
    z-index: 1100;
} */

/* .about-dropdown a {
    width: 180px!important;
    height: 45px!important;
    background-color: #000;
    border-top: 1px solid #fff
} */


.desktop-menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: rgba(2, 2, 2, 0.08);
    box-shadow: 0px 8px 16px 0px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-top: 80px;
    padding-bottom: 10px;
    z-index: 100000000;
}

.desktop-menu-bar {
    animation: mymove 0.3s ease-in-out;
}

.close-menu-bar {
    z-index: 100000000;
    top: -120%;
    animation: closeMenu 0.4s ease-in-out!important;
}

@keyframes closeMenu {
    0% {top: 20px; opacity: 0.9;}
    25% {top: -25%; opacity: 0.6;}
    50% {top: -50%; opacity: 0.3;}
    100% {top: -120%; opacity: 0;}
}

@keyframes mymove {
    0% {top: -120%; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

.desktop-navbar-top {
    display: flex;
    justify-content: space-between;
}

.desktop-navbar-top ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
    width: 50%;
}

.desktop-navbar-top ul li, 
.desktop-navbar-top ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-navbar-top ul li {
    border-bottom: 1px solid rgba(2, 2, 2, 0.15);
}

.desktop-navbar-top ul li a,
.desktop-navbar-top ul li div {
    padding: 5px 0;
}



.desktop-navbar-top ul li svg, 
.desktop-navbar-top ul li div {
    font-size: 45px;
}

.desktop-navbar-top ul li div p {
    margin-bottom: 0!important;
}

.desktop-navbar-top ul li a,
.desktop-navbar-top ul li div {
    color: #020202;
    font-family: Space Grotesk;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desktop-navbar-top ul li a {
    line-height: 28px;
}

.desktop-navbar-top ul li > div {
    height: 38px;
}

.desktop-navbar-top div span {
    color: #020202;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.831px; 
    display: flex;
    gap: 5px;
}

.desktop-navbar-top div span svg {
    font-size: 24px;
}

.desktop-navbar-top > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.desktop-navbar-top ul li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.desktop-navbar-top > div {
    display: flex;  
    flex-direction: column;
}

.desktop-navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-navbar-bottom a {
    width: 30%;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgba(2, 2, 2, 0.15);
}

.desktop-navbar-bottom a p {
    color: #020202;
    font-family: Space Grotesk;
    font-size: 22px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.desktop-navbar-bottom a svg {
    font-size: 45px;
    color: #020202;
}

.desktop-about-wrap {
    width: 100%;
}

.desktop-about-li {
    display: flex;
    flex-direction: column;  
}

.desktop-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.desktop-dropdown-menu a {
    padding: 5px 0;
    border-bottom: 1px solid rgba(2, 2, 2, 0.15);
    font-size: 18px!important;
    color: #020202;
    font-family: Space Grotesk;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 70%;
}

.mobile-senbay-logo {
    display: none;
}

.mobile-navbar-top {
    display: none!important;
}

@media screen and (max-width: 1150px) {
    .header-logo {
        width: 250px;
        height: 64px;
    }

    .header-logo img {
        /* width: 250px; */
        height: 64px;
    }

    /* .open-menu-link ul {
        height: 38px;
    }

    .open-menu-link ul li a,
    .about-div {
        padding: 0px 10px;
        font-size: 12px;
    } */

    .menu-icon {
        width: 38px;
        height: 38px;
    }
}

@media screen and (max-width: 992px) {
    .header-logo {
        width: 220px;
        height: 48px;
    }

    .header-logo img {
        /* width: 220px; */
        height: 48px;
    }

    /* .open-menu-link ul {
        height: 32px;
    }

    .open-menu-link ul li a,
    .about-div {
        padding: 0px 5px;
        font-size: 11px;
    } */

    .menu-icon {
        width: 32px;
        height: 32px;
    }
}   

@media screen and (max-width: 991.5px) {
    .desktop-navbar-top ul {
        width: 100%;
        margin-top: 20px;
    }

    .desktop-menu-bar {
        padding-top: 30px;
    }

    .mobile-senbay-logo {
        display: block;
        width: 160px;
        height: 48px;
    }

    .desktop-close-icon {
        display: none;
    }

    .close-icon {
        margin-right: 10px;
    }

    .dark-light-wrap {
        display: flex!important;
    }

    .contact-phone-numbers {
        display: none!important;
    }

    .desktop-navbar-bottom img {
        display: none;
    }

    .desktop-navbar-top ul li a, 
    .desktop-navbar-top ul li div,
    .desktop-navbar-bottom a p {
        font-size: 22px;
        line-height: 35px;
    }

    .desktop-dropdown-menu a {
        width: 75%;
        font-size: 16px!important;
        padding: 5px 0px;
    }

    .mobile-navbar-top {
        display: flex!important;
        flex-direction: row!important;
        align-items: center!important;
        justify-content: space-between;
    }

    /* .close-icon {
        margin: 15px 0;
        margin-right: 10px;
        display: block;
        width: 30px;
        height: 30px;
    }

    .close-icon img{
        width: 100%;
        height: 100%;
    } */

    
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    /* .open-menu-link ul {
        background-color: #f0f0f0;
        
    }

    .open-menu-link ul li a,
    .about-div {
        color: #000;
        font-weight: 500;
        font-size: 18px;
    }

    .open-menu-link ul li a:hover, 
    .about-div:hover {
        background-color: transparent!important;
    } */

    /* .dark-light-wrap {
        position: static;
        transform: translate(0);
    }

    .open-menu-link ul {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 10000;
        border: none;
    }

    .open-menu-link ul li {
        width: 100%;
        height: 65px;
    } */

    .close-icon {
        width: 32px;
        height: 32px;
    }

    .close-icon img {
        width: 20px;
        height: 20px;
    }

    /* .open-menu-link ul li a,
    .about-div {
        border-left: none;
        width: 100%;
    } */

    .dark-light-wrap {
        display: none;
    }

    .mobile-dark-light {
        display: flex;
    }

    /* .open-menu-ul li a {
        border-left: none!important;
    }
    
    .about-li-wrap {
        display: flex;
        flex-direction: column;
        height: auto!important;
        gap: 5px;
    } */

    /* .about-div {
        height: 50px!important;
    } */
    
    /* .about-dropdown {
        height: auto!important;
        display: flex;
        position: static;
        top: 0;
        border: none;
        flex-direction: column;
    }

    .about-dropdown div {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .about-dropdown div a {
        color: #444;
    }
    
    .about-dropdown a {
        width: 100%!important;
        height: auto!important;
        background-color: transparent;
        border-top: none;
        font-size: 13px!important;

    } */

    .desktop-menu-bar {
        padding: 15px;
    }

    .mobile-senbay-logo {
        display: block;
        width: 120px;
        height: 48px;
    }

    .dark-light-wrap {
        width: 80px;
        height: 35px;
    }

    .light-icon svg, 
    .dark-icon svg {
        width: 20px;
        height: 20px;
    }

    .desktop-navbar-top ul li a, .desktop-navbar-top ul li div, .desktop-navbar-bottom a p {
        font-size: 20px;
        line-height: 38px;
    }

    .desktop-navbar-top ul {
        width: 100%;
        margin-top: 30px;
        padding: 0 10px!important;
    }

    .desktop-navbar-bottom a {
        width: 50%;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
    }

    .dark-light-wrap {
        left: 52%;
    }

    .desktop-dropdown-menu a {
        font-size: 14px!important;
    }

}

@media screen and (max-width: 500px) {
    /* .open-menu-link ul li a,
    .about-div {
        font-size: 16px;    
    }

    .open-menu-link ul li {
        height: 50px;
    } */

    .close-icon {
        width: 30px;
        height: 30px;
    }

    .dark-light-wrap {
        width: 70px;
        height: 30px;
    }

    .mobile-senbay-logo {
        display: block;
        width: 110px;
        height: 43px;
    }

    .header-logo img {
        width: 110px;
        height: 43px;
    }

    .desktop-navbar-top ul li a, .desktop-navbar-top ul li div, .desktop-navbar-bottom a p {
        font-size: 18px;
        line-height: 30px;
    }

    .desktop-navbar-top ul li svg,
    .desktop-navbar-bottom a svg {
        font-size: 35px;
    }

    .padding-ul {
        padding-left: 10px!important;
    }
}