.social-res-container {
    height: auto;
}

.social-res-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    z-index: 100;
    position: relative;
    margin: 60px 0;
}

.social-res-tabs h1 {
    color: #635F5F;
    font-family: Space Grotesk;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 130px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.social-res-tabs h1.active-sr {
    color: #020202;
}

.social-res-tabs h1.active-sr:hover {
    opacity: 1;
}

.social-res-tabs h1:hover {
    opacity: 0.7;
}

.sr-content {
    color: #020202;
    font-family: Space Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: start;
}

.img-column-wrap {
    width: 100%;
    display: flex;
    gap: 30px;
    position: fixed;
    left: 0;
    top: 0;
}

.column {
    width: 33%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column img {
    width: 100%;
    position: relative;
    filter: blur(5px);
}

.sr-img-1 {
    animation: mymove1 20s infinite linear;
}
.sr-img-2 {
    animation: mymove2 20s infinite linear;
}
.sr-img-3 {
    animation: mymove3 20s infinite linear;
}
.sr-img-4 {
    animation: mymove4 18s infinite linear;
}
.sr-img-5 {
    animation: mymove5 18s infinite linear;
}
.sr-img-6 {
    animation: mymove6 18s infinite linear;
}
.sr-img-7 {
    animation: mymove7 22s infinite linear;
}
.sr-img-8 {
    animation: mymove8 22s infinite linear;
}
.sr-img-9 {
    animation: mymove9 22s infinite linear;
}

@keyframes mymove1 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove2 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove3 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove4 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove5 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove6 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove7 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove8 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}
@keyframes mymove9 {
    from {
        bottom: -50%;
    }
    to {
        bottom: 100%;
    }
}

.sr-egitim-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sr-egitim-content p {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.sr-egitim-imgs {
    width: 100%;
    margin: 0 auto!important;
}

.sr-egitim-imgs div {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 992px) {
    .social-res-tabs {
        justify-content: center;
        margin: 40px 0;
    }

    .social-res-tabs h1 {
        font-size: 50px;
        line-height: 80px;
    }
    
    .column {
        height: 150vh;
    }

    .sr-content {
        font-size: 22px;
        line-height: 28px;
    }

    @keyframes mymove1 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove2 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove3 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove4 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove5 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove6 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove7 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove8 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove9 {
        from {
            bottom: 0%;
        }
        to {
            bottom: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .social-res-tabs {
        justify-content: center;
        margin: 30px 0;
    }

    .social-res-tabs h1 {
        font-size: 40px;
        line-height: 40px;
    }
    
    .column {
        height: 120vh;
    }    

    .sr-content {
        font-size: 20px;
        line-height: 24px;
    }

    @keyframes mymove1 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove2 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove3 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove4 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove5 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove6 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove7 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove8 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }
    @keyframes mymove9 {
        from {
            bottom: -100%;
        }
        to {
            bottom: 100%;
        }
    }

    .sr-egitim-content p {
        font-size: 24px;
        line-height: 20px;
    }
}

@media screen and (max-width: 767.5px) {
    .sr-egitim-imgs {
        gap: 20px;
    }
}

@media screen and (max-width: 500px) {
    .social-res-tabs {
        justify-content: center;
        margin: 20px 0;
    }

    .social-res-tabs h1 {
        font-size: 30px;
        line-height: 25px;
    }
    
    .column {
        height: 100vh;
    }    

    .sr-content {
        text-align: justify;
        font-size: 18px;
        line-height: 20px;
    }
}