.project-img {
    position: relative;
    height: 510px;   
    overflow: hidden;
    transition: all 0.3s ease;
}

.project-card {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.project-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 39%;
    height: 90px;
    color: #FFF;
    -leading-trim: both;
    -text-edge: cap;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    background-color: #000;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    margin-bottom: 0!important;
    cursor: pointer;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}



.img-before::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(360deg, rgba(24, 21, 21, 0.50) 0%, rgba(2, 2, 2, 0.70) 100%);
    z-index: 10;
    transition: all 0.3s ease-in-out;
}


.img-before img {
    transform: scale(1.1);
}

.project-card:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(24, 21, 21, 0.5), rgba(2, 2, 2, 0.7) 100%);
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card:hover .project-content {
    display: flex;
}

.project-card h3 {
    color: #000;
    font-family: Space Grotesk;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    height: 80px;
}

.project-card-p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FDFDFD;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 100;
}

.project-card-h5 {
    color: #000;
    -leading-trim: both;
    -text-edge: cap;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-align: center;
    height: 45px;
}

.project-content {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;    
    animation: projectCardP 0.2s ease;
}

@keyframes projectCardP {
    from {top: -3%;}
    to {top: 0;}
}

.project-content p {
    color: #FDFDFD;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 100;
}

.project-content span {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.project-more-button {
    width: 116px;
    height: 48px;
    color: #020202;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px 10px 7px;
    border: none;
    outline: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-tab {
    color: #0A0A0B;
    font-family: Space Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-tab:hover {
    opacity: 0.5;
}

.active-project-tab {
    opacity: 0.5;
}
 
@media screen and (max-width: 468px) {
    .project-img {
        height: 410px;
    }

    .project-more {
        height: 50px;
        color: #FFF;
        font-size: 16px;
    }

    .project-card h3 {
        font-size: 30px;
    }
}