.project-img {
    position: relative;
    height: 510px;   
    overflow: hidden;
    transition: all 0.3s ease;
}

.project-card {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.project-more {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 39%;
    height: 90px;
    color: #FFF;
    -leading-trim: both;
    -text-edge: cap;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    background-color: #000;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    margin-bottom: 0!important;
    cursor: pointer;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.project-other-img {
    width: 100%;
    height: 460px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.project-other-img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(24, 21, 21, 0.3), rgba(2, 2, 2, 0.5) 100%);
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.project-other-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.project-card-before:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(24, 21, 21, 0.5), rgba(2, 2, 2, 0.7) 100%);
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.img-before img {
    transform: scale(1.1);
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-card h3 {
    color: #000;
    font-family: Space Grotesk;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    height: 80px;
}

.project-card-p {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FDFDFD;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 100;
    animation: projectCardP 0.2s ease;
}

.project-card-h5 {
    color: #000;
    -leading-trim: both;
    -text-edge: cap;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    text-align: center;
    height: 45px;
}

.project-content {
    position: absolute;
    top: 0;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: flex;    
    animation: detailP 0.2s ease;
}

@keyframes projectCardP {
    from {top: 47%;}
    to {top: 50%;}
}

@keyframes detailP {
    from {top: -3%;}
    to {top: 0;}
}


.project-content p {
    color: #FDFDFD;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    z-index: 100;
}

.project-content span {
    color: #FFF;
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.project-more-button {
    width: 116px;
    height: 48px;
    color: #020202;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px 10px 7px;
    border: none;
    outline: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.project-tab {
    color: #0A0A0B;
    font-family: Space Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.project-tab:hover {
    opacity: 0.5;
}

.active-project-tab {
    opacity: 0.5;
}
 

/* PROJECT DETAIL */

.project-detail-overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: linear-gradient(rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
}

.project-detail-overlay .image-gallery {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-detail-overlay .image-gallery-svg {
    height: 80px!important;
    width: 40px!important;
}

.project-detail-overlay .image-gallery-slide-wrapper {
    width: 100%!important;
}

.project-detail-overlay .image-gallery-image {
    object-fit: cover!important;
    height: 500px!important;
    width: 100%!important;
}

.project-detail-overlay .image-gallery-thumbnails-wrapper, 
.project-detail-overlay .image-gallery-play-button, 
.project-detail-overlay .image-gallery-fullscreen-button {
    display: none;  
}

.project-detail-overlay .image-gallery-content {
    width: 60%!important;
    height: 100vh!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-detail-close-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1000000000;
    cursor: pointer;
}

.project-detail-row {
    height: 1px;
    background-color: #000;
}

.project-detail-left,
.project-detail-right {
    height: 700px;
}

.project-detail-left {
    position: relative;
}

.project-detail-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pr-fullscreen {
    position: absolute;
    background-color: #000;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.pr-fullscreen img {
    width: 16px;
    height: 16px;
    transition: all 0.2s ease;
}

.pr-fullscreen:hover img {
    width: 18px;
    height: 18px;
}

.project-detail-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-detail-img1,
.project-detail-img2 {
    height: 340px;
}

.project-detail-img1 img,
.project-detail-img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-detail-desc {
    color: #000;
    text-align: justify;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.project-detail-title {
    color: #000;
    font-family: Space Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

@media screen and (max-width: 992px) {
    .projectdetailrow {
        gap: 20px;
    }

    .project-detail-left,
    .project-detail-right {
            height: 800px;
    }


    .project-detail-img1,
    .project-detail-img2 {
        height: 390px;
    }
}

@media screen and (max-width: 768px) {
    .project-detail-left,
    .project-detail-right {
            height: 600px;
    }


    .project-detail-img1,
    .project-detail-img2 {
        height: 290px;
    }

    .project-detail-desc, 
    .project-detail-title {
        font-size: 18px;
    }

    .project-detail-overlay .image-gallery-content {
        width: 90%!important;
    }    
    
    .project-detail-overlay .image-gallery-svg {
        height: 60px!important;
        width: 30px!important;
    }
    
    .project-detail-overlay .image-gallery-slide-wrapper {
        width: 100%!important;
    }
    
    .project-detail-overlay .image-gallery-image {
        height: 300px!important;
    }
    
    .project-detail-close-icon {
        width: 20px;
        height: 20px;
        right: 15px;
        top: 15px;
    }
}

@media screen and (max-width: 468px) {
    .project-img {
        height: 410px;
    }

    .project-more {
        height: 50px;
        color: #FFF;
        font-size: 16px;
    }

    .project-card h3 {
        font-size: 30px;
    }

    .project-detail-left,
    .project-detail-right {
            height: 400px;
    }


    .project-detail-img1,
    .project-detail-img2 {
        height: 190px;
    }

    .project-detail-overlay .image-gallery-svg {
        height: 50px!important;
        width: 25px!important;
    }

    .project-detail-overlay .image-gallery-image {
        height: 230px!important;
    }

    .project-detail-overlay .image-gallery-content {
        width: 95%!important;
    }    
}