.leader-message-container {
  margin-top: 50px !important;
  margin-bottom: 50px;
}

.leader-message-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.mybtn {
  border-radius: 75px;
  border: 1px solid #0d0d0d;
  padding: 10px;
  width: 100%;
  background: transparent;
  color: #0d0d0d;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.leader-message-first h1 {
  color: #242016;
  font-family: "Space Grotesk";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.leader-message-inner {
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}

.leader-message-inner p {
  color: #242016;
  font-family: "Inter";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1.8px;
  text-align: justify;
}

.leader-message-inner b {
  display: block;
  text-align: right;
  color: #242016;
  font-family: "Space Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1.8px;
}

.history-under-div {
  margin-top: 30px !important;
}

.history-under-div p{
  color: #242016;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.4px;
}

.under-history svg {
  margin-bottom: 7px;
  margin-right: 5px;
}

.under-history span {
  color: #242016;
  font-family: "Space Grotesk";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .leader-message-first h1 {
    font-size: 38px;
  }

  .mybtn {
    font-size: 14px;
    padding: 6px 14px;
  }

  .leader-message-inner p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
  }

  .leader-message-container {
    margin-top: 30px !important;
  }
}
