.dark {
    background-color: #000;
}

.dark .hero-section h2 {
    color: #fff;
}

.dark .leader-message-first h1 {
    color: #fff;
}

.dark .leader-message-inner p {
    color: #fff;
}

.dark .leader-message-inner b {
    color: #fff;
}

.dark .all-projects ul li a {
    color: #fff;
}

.dark .all-projects ul li svg path {
    stroke: #fff;
}

.dark .inner-cont-1 {
    background-color: #000;
}

.dark .footer-div-1-inner p {
    color: #fff;
}

.dark .input-p {
    color: #fff;
}

.dark .footer-ul-1 ul li a {
    color: #fff;
}

.dark .main-footer-cont {
    background-color: #F3F1EB;
}

.dark .adress-info p, 
.dark .adress-info a, 
.dark .adress-info span {
    color: #fff;
}

.dark .footer-div-2 {
    background-color: #F3F1EB;
}

.dark .comp-name-footer span {
    color: #000;
}

.dark .copyright-footer span {
    color: #000;
}

.dark .copyright-footer svg path {
    fill: #000;
}

.dark .social-icons-footer div {
    border-color: #000;
}


.dark .projects-container > h1{
    color: #fff;
}


.dark .footer-div-1-inner-img img{
    filter: invert(1);
}

.dark .companies-2b,
.dark .partner-24 {
    color: #fff;
}

.dark .footer-input svg{
    filter: invert(1);
}

.dark .footer-logo-div img{
    filter: invert(1);
}

.dark .social-icons-footer div img{
    filter: invert(1);
}

.dark .comp-name-footer img{
    filter: invert(1);
}

.dark .under-history span {
    color: #fff;
}

.dark .history-under-div p {
    color: #fff;
}

.dark .mybtn {
    color: #fff;
    border-color: #fff;
}

.dark .building-greatness span {
    color: #fff;
}

.dark .projects-content {
    color: #fff;
}

.dark .building-row h2 {
    color: #fff;
}

.dark .project-button {
    color: #fff;
    border-color: #fff;
}

.dark .mission-vision img{
    filter: invert(1);
}

.dark .mission-vision h1{
    color: #fff;
}

.dark .mission-vision p{
    color: #fff;
}

.dark .accordion{
    --bs-accordion-bg: #000 !important;
}

.dark .accordion-button {
    color: #fff;
}

.dark .accordion-button:not(.collapsed)::after{
    content: url(./assets/images/up.svg) !important;
    filter: invert(0) !important;
}

.dark .accordion-button::after{
    filter: invert(1);
} 

.dark .accordion-item {
    border-bottom: 1px solid #FDFDFD!important;
}

.dark .accordion-body{
    color: #fff !important;
}

.dark .carousel-8-container {
    border-top: 1px solid #fff!important;
}

.dark .carousel__container:nth-child(1) {
    border-top: 1px solid #fff!important;
}

.dark .history-content p {
    color: #f0f0f0;
}

@media screen and (max-width: 768px) {
    .dark .open-menu-link ul {
        background-color: #0d0d0d!important;
    }

    .dark .open-menu-link ul li a {
        color: #fff!important;
    }

    .dark .project-empty-div {
        border-bottom: none;
    }
    
    .dark .project-button-div {
        border-bottom: none;
    }
    
}