.dark {
    background-color: #000;
}

.dark .hero-section h2 {
    color: #fff;
}

.dark .leader-message-first h1 {
    color: #fff;
}

.dark .leader-message-inner p {
    color: #fff;
}

.dark .leader-message-inner b {
    color: #fff;
}

.dark .all-projects ul li a {
    color: #fff;
}

.dark .all-projects ul li svg path {
    stroke: #fff;
}

.dark .inner-cont-1 {
    background-color: #000;
}

.dark .about-div {
    color: #000;
}

.dark .footer-div-1-inner p {
    color: #fff;
}

.dark .input-p {
    color: #fff;
}

.dark .footer-ul-1 ul li a {
    color: #fff;
}

.dark .main-footer-cont {
    background-color: #F3F1EB;
}

.dark .adress-info p, 
.dark .adress-info a, 
.dark .adress-info span {
    color: #fff;
}

.dark .footer-div-2 {
    background-color: #F3F1EB;
}

.dark .comp-name-footer span {
    color: #000;
}

.dark .copyright-footer span {
    color: #000;
}

.dark .copyright-footer svg path {
    fill: #000;
}

.dark .social-icons-footer div {
    border-color: #000;
}


.dark .projects-container > h1{
    color: #fff;
}

.dark .contact-div h1,
.dark .form-inner label,
.dark .form-inner-div span {
    color: #F3F8EA;
}

.dark .form-1 {
    border-color: #F3F8EA;
}

.dark .form-inner input, 
.dark .form-inner textarea {
    background-color: transparent;
    color: #F3F8EA;
}

.dark .contact-div form input[type="submit"] {
    background-color: #F3F8EA;
    color: #000;
}

.dark .footer-div-1-inner-img img{
    filter: invert(1);
}

.dark .companies-2b,
.dark .partner-24 {
    color: #fff;
}

/* .dark .open-menu-link ul li a:hover,
.dark .about-div:hover {
    background-color: #c7c7c7;
} */

.dark .footer-input svg{
    filter: invert(1);
}

.dark .footer-logo-div img{
    filter: invert(1);
}

.dark .social-icons-footer div img{
    filter: invert(1);
}

.dark .comp-name-footer img{
    filter: invert(1);
}

.dark .under-history span {
    color: #fff;
}

.dark .history-under-div p {
    color: #fff;
}

.dark .mybtn {
    color: #fff;
    border-color: #fff;
}

.dark .building-greatness span {
    color: #fff;
}

.dark .projects-content {
    color: #fff;
}

.dark .building-row h2 {
    color: #fff;
}

.dark .project-button {
    color: #fff;
    border-color: #fff;
}

.dark .mission-vision img{
    filter: invert(1);
}

.dark .mission-vision h1{
    color: #fff;
}

.dark .mission-vision p{
    color: #fff;
}

.dark .accordion{
    --bs-accordion-bg: #000 !important;
}

.dark .accordion-button {
    color: #fff;
}

.dark .accordion-button:not(.collapsed)::after{
    content: url(./assets/images/up.svg) !important;
    filter: invert(0) !important;
}

.dark .accordion-button::after{
    filter: invert(1);
} 

.dark .accordion-item {
    border-bottom: 1px solid #FDFDFD!important;
}

.dark .accordion-body{
    color: #fff !important;
}

.dark .carousel-8-container {
    border-top: 1px solid #fff!important;
}

.dark .carousel__container:nth-child(1) {
    border-top: 1px solid #fff!important;
}

.dark .history-content p {
    color: #f0f0f0;
}

.dark .about-dropdown a {
    background-color: #B7B7B7;
}

.dark .project-card-h5 {
    color: #fff;
}

.dark .project-tab {
    color: #fff;
}

.dark #circle text {
    fill: #fff;
}

.dark .project-detail-desc, 
.dark .project-detail-title {
    color: #fff;
}

.dark .project-detail-row {
    background-color: #fff;
}

.dark .uzv-name p{
    color: #fff;
}

.dark .uzvluk-slider{
    background-color: #fff;
}


.dark .founder-container p{
    color: #fff;
}

.dark .founder-image p{
    color: #FFF;
}

.dark .describtion-constructor,
.dark .title-constructor {
    color: #fff;
}

 .dark .activity-card {
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 0px 10px 0px rgba(253, 253, 253, 0.25);
}

.dark .activity-card h4,
.dark .activity-card p {
    color: #FDFDFD;
}

.dark .news-card p {
    color: #FDFDFD;
}

.dark .news-card span {
    color: hsl(0, 0%, 40%);
}

@media screen and (max-width: 768px) {
    .dark .open-menu-link ul {
        background-color: #0d0d0d!important;
    }

    .dark .open-menu-link ul li a,
    .dark .about-div {
        color: #fff!important;
    }

    .dark .project-empty-div {
        border-bottom: none;
    }
    
    .dark .project-button-div {
        border-bottom: none;
    }

    .dark .open-menu-link ul li a:hover, 
    .dark .about-div:hover {
        background-color: transparent!important;
    }

    .dark .about-dropdown a {
        background-color: transparent!important;
    }
    
}