@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1380px!important;
  width: 100%;
}

.container-md {
  max-width: 1200px!important;
  width: 100%;
}

.container-sm {
  max-width: 1000px!important;
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 40px!important;
  }

  header {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0 24px!important;
  }

  header {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
  }
}


body {
  /* background-color: #0A0A0B!important; */
}