.company-col {
    border: 1px solid #151515;
    width: 20% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-col:nth-child(-n+5) {
    border-top: none;
}

.company-col:nth-last-child(-n+5) {
    border-bottom: none;
}

.company-col:nth-child(5) {
    border-right: none;
}

.company-col:nth-child(6) {
    border-left: none;
}

.company-col:first-child {
    border-left: none;
}

.company-col:last-child {
    border-right: none;
}

.company-col img {
    width: 100%;
    height: 150px;
    padding: 40px 27px;
}

.company-container {
    width: 90%;
    margin: 90px;
}
.company-logo{
    display: block;
}
.logo-hover{
    display: none;
}
.company-col:hover{
    .logo-hover{
        display: block;
    }
    .company-logo{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .company-col {
        width: 50% !important;
    }
    .company-col:nth-child(odd) {
        border-right: 1px solid #151515;
        border-bottom: 1px solid #151515;
        border-top: none;
        border-left: none;
    }
    
    .company-col:nth-child(even) {
        border-left: none;
        border-bottom: 1px solid #151515;
        border-top: none;
        border-right: none;
        
    }
    .company-col:nth-last-child(-n+2) {
        border-bottom: none !important;
    }
}